body {
    background-color: #bbf1d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 85%;
}

.titulo {
    background-color: #8ddbb7;
    color: green;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.subtitulo {
    text-decoration: underline;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comuna {
    text-decoration: underline;
}

.texto {
    background-color: blue;
    text-align: center;
}